# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Project specific
logs/
